.footer {
  &__inner {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 46px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 980px) {
      flex-direction: column-reverse;
      align-items: stretch;
      padding-bottom: 40px;
    }

    div {

        @media (max-width: 980px) {
            align-self: center;
          }


      &:last-child {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;

        @media (max-width: 980px) {
          justify-content: space-between;
          margin-bottom: 40px;
        }

        a {
          @extend %description-18-book;
          color: $white;
          margin-right: 40px;

          @media (max-width: 980px) {
            margin-right: 24px;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        img {
          width: 32px;
        }
      }
    }
  }
}
