.home-page-container {
  display: flex;
  flex-flow: column;
}

.home-page-container .title {
  margin-left: 24px;
  padding-left: 4px;
}

.home-page-container .title h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

.home-page-container .title p {
  margin: 0;
  color: #1b1c1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
  opacity: 0.46;
}

.home-page-container header.navbar {
  align-items: center;
  align-self: stretch;
  display: grid;
  font-size: 18px;
  grid-template-areas: 'x logo connect';
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 24px;
}

.home-page-container header.navbar span.logo {
  display: inline-flex;
  grid-area: logo;
  justify-content: center;
}

.home-page-container header.navbar span.connect {
  display: inline-flex;
  grid-area: connect;
  justify-content: flex-end;
  margin-right: 24px;
}

.home-page-container header.navbar a {
  color: inherit;
  text-decoration: none;
  padding-left: 24px;
}

.home-page-container header.navbar img {
  height: 24px;
}

.home-page-container ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
