.home-page-container {
  display: grid;
  grid-template-areas:
    'navbar navbar'
    'title details'
    'list details';
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content max-content 1fr;
}

.home-page-container header.navbar {
  align-items: center;
  align-self: stretch;
  background-color: #f9f9f9f9;
  display: grid;
  font-size: 18px;
  grid-template-areas: 'x logo connect';
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: navbar;
  padding-bottom: 12px;
  padding-top: 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.home-page-container header.navbar span.logo {
  display: inline-flex;
  grid-area: logo;
  justify-content: center;
}

.home-page-container header.navbar span.connect {
  display: inline-flex;
  grid-area: connect;
  justify-content: flex-end;
  margin-right: 24px;
}

.home-page-container header.navbar a {
  color: inherit;
  text-decoration: none;
  padding-left: 24px;
}

.home-page-container header.navbar img {
  height: 24px;
}
/* END OF .home-page-container header.navbar */

.home-page-container .title {
  grid-area: title;
  margin-left: 24px;
  padding-left: 4px;
}

.home-page-container .title h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

.home-page-container .title p {
  margin: 0;
  color: #1b1c1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 20px;
  opacity: 0.46;
}
/* END OF .home-page-container .title */

.home-page-container ul.list {
  grid-area: list;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: baseline;
}
/* END OF .home-page-container ul.list */

.home-page-container .details {
  align-items: baseline;
  animation-duration: 0.5s;
  animation-name: animate-slide;
  grid-area: details;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

@keyframes animate-slide {
  0% {
    opacity: 0;
    transform: translate(100px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/* END OF .home-page-container .details */
