.home-page-container .plant-card-container {
  align-items: stretch;
  background-color: #ffffff;
  border-radius: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
  padding: 24px;
}

.home-page-container .plant-card-container header {
  align-items: center;
  align-self: stretch;
  display: grid;
  grid-template-areas: 'edition plant-name action';
  grid-template-columns: max-content 1fr max-content;
  height: 60px;
}

.home-page-container .plant-card-container header .edition {
  display: inline-flex;
  grid-area: edition;
}

.home-page-container .plant-card-container header .plant-name {
  display: inline-flex;
  grid-area: plant-name;
}

.home-page-container .plant-card-container header .plant-name h4 {
  margin: 0 0 0 4px;
}

.home-page-container
  .plant-card-container
  header
  .plant-name
  h4
  span:nth-child(1) {
  font-size: 18px;
  font-weight: 800;
}

.home-page-container
  .plant-card-container
  header
  .plant-name
  h4
  span:nth-child(2) {
  font-family: 'Space Mono', monospace, sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}

.home-page-container .plant-card-container header .action {
  display: inline-flex;
  grid-area: action;
}

.home-page-container .plant-card-container .image {
  border-radius: 32px;
  width: 338px;
  aspect-ratio: 0.86;
  object-fit: cover;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.02),
    0px 2px 24px rgba(51, 34, 51, 0.04), 0px 1px 4px rgba(50, 54, 46, 0.08);
}

.home-page-container .plant-card-container .stats {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 16px 0;
}

.home-page-container .plant-card-container .stat {
  background-color: #f9f9f9;
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  line-height: 24px;
}

.home-page-container .plant-card-container .stat .empty-stat {
  margin: 6px 0;
  border: 8px solid rgba(27, 28, 29, 0.08);
  border-radius: 8px;
  width: 70%;
}

.home-page-container .plant-card-container .stat:nth-child(1) {
  margin-right: 8px;
}

.home-page-container .plant-card-container .stat > span:nth-child(1) {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  height: 23px;
  align-items: center;
}

.home-page-container .plant-card-container .stat > span img {
  margin-right: 4px;
}

.home-page-container .plant-card-container .stat > span:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  opacity: 0.4;
  text-transform: uppercase;
}
