body {
  margin: 0;
  background-color: #f9f9f9f9;
  font-family: 'Circular Std', sans-serif;
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (min-width: 1224px) {
  body {
    padding-left: 240px;
    padding-right: 240px;
  }
}
